*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.DS_STORE
*.log
my-keystore.keystore
.idea/
OUTLANDER_PHEV_REMOTE_APK/dist/
OUTLANDER_PHEV_REMOTE_APK/build/
*.apk
chap-secrets
/cloud/OUTLANDER_PHEV_CLOUD_APK
