<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.inventec.iMobile12" platformBuildVersionCode="28" platformBuildVersionName="9">
    <meta-data android:name="android.max_aspect" android:value="ratio_float"/>
    <uses-feature android:name="android.hardware.wifi"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:hardwareAccelerated="true" android:icon="@mipmap/newappicon" android:label="@string/app_name" android:name="com.inventec.iMobile12.iMobile_AppGlobalVar" android:resizeableActivity="false" android:roundIcon="@mipmap/newappicon_round" android:supportsRtl="true" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name="com.inventec.iMobile12.PrivatePolicyLoadingActivity"/>
        <activity android:name="com.inventec.iMobile12.NewSettingHelpActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.NewStatusHelpActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.NewFullChargeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.NewChargeHelpActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.NewCommunicationHelpActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.NewClimateHelpActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.NewHelpAvtivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.PasscodeBypassActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.OpenSourceActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.PowerSupplyStepFourActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.PowerSupplyStepThreeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.PowerSupplyStepTwoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.PowerSupplyStepOneActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.ChangeWlanPasswordStepFourActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.inventec.iMobile12.ChangeWlanPasswordStepThreeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.ChangeWlanPasswordStepTwoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.ChangeWlanPasswordStepOneActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/app_name" android:launchMode="singleInstance" android:name="com.inventec.iMobile12.iMobile" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.inventec.iMobile12.PasswordInput" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.PasswordInputCheck" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.RegisterUnsuccessful" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.RegisterSuccessful" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.StepThreeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.StepTwoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.StepOneActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.GetStartedActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.ShowVersionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.Login_Sel" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.inventec.iMobile12.Login_SSID" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.inventec.iMobile12.FrmMain" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.FrmSetting_AirConditioning" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.FrmSetting_Charge" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.FrmSettingTime" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.FrmSettingTimeSimple" android:screenOrientation="portrait"/>
        <activity android:name="com.kostal.car2017.frmEVACSet20" android:screenOrientation="portrait"/>
        <activity android:name="com.kostal.car2017.frmEVACSet22" android:screenOrientation="portrait"/>
        <activity android:name="com.kostal.car2017.frmEVChargeSet10" android:screenOrientation="portrait"/>
        <activity android:name="com.kostal.car2017.frmEVChargeSet12" android:screenOrientation="portrait"/>
        <activity android:name="com.kostal.car2017.frmEVACSetTop_16MY" android:screenOrientation="portrait"/>
        <activity android:name="com.kostal.car2017.frmEVACSetTop" android:screenOrientation="portrait"/>
        <activity android:name="com.kostal.car2017.frmEVDaySelect" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxCarSetting" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxCarSetGroup" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxCarSetSubItem" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxCarSetting_16MY" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxCarSetGroup_16MY" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxCarSetSubItem_16MY" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxPswOffOn" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxChangePsw" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxChangeSSID" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxAnyConnection" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxRemoveVin" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxShowAlarmHistory" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxShowAllVersion" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxShowWiFiLogs" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.BxWifiConnectionSetting" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.Bxchannelchange" android:screenOrientation="portrait"/>
        <activity android:name="com.inventec.iMobile12.V2HDirectionsActivity" android:screenOrientation="portrait"/>
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
    </application>
</manifest>
